body {
    background-color: #2b2828;
}

.add_discount {
    margin-top: 120px;
}

.add_discount_title {
    margin-left: 300px;
    font-size: 60px;
}

.add_discount_user_input {
    margin-left: 280px;
}

.add_discount_buttons {
    margin-left: 280px;
    text-align: center;
    display: block;
    font-size: 20px;
}

.add_discount_category_textbox {
    width: 34%;
    font-size: 20px;
    display: block;
}

.add_discount_product_textbox {
    width: 34%;
    font-size: 20px;
    display: block;
}

/*
.add_discount_ok_btn {
    width: 35%;
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}


    .add_discount_ok_btn:hover {
        transform: scale(1.1);
    }
*/

.add_discount_back_btn {
    width: 35%;
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .add_discount_back_btn:hover {
        transform: scale(1.1);
    }
