body {
    background-color: #2b2828;
}

.home {
    margin-top: 120px;
}

.home_title {
    margin-left: 110px;
}

.home_buttons {
    margin-left: 280px;
    text-align: center;
    display: block;
    font-size: 20px;
}

.home_login_btn {
    width: 35%;
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .home_login_btn:hover {
        transform: scale(1.1);
    }


.home_register_btn {
    width: 35%;
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .home_register_btn:hover {
        transform: scale(1.1);
    }

.home_cag_btn {
    width: 35%;
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .home_cag_btn:hover {
        transform: scale(1.1);
    }
