.member_page {
    border-radius: 8px;
    border: solid 2px #86BB71;
}
.member_page_body{
    margin: 5px;
}


.section__stores {
    color: white;
    
}

.stores-header {
    color: white;
}

ul {
    width: 100%;
    overflow: auto;
    display: inline;
    color: white;
}

.stores {
    max-height: 175px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    clear: both;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    border: solid 2px #86BB71;
}

    .stores::-webkit-scrollbar {
        width: 10px;
    }

    .stores::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.5);
        background-color: #bfb7b7;
        border-radius: 8px;
    }

.AddStore {
    display: flex;
    flex-direction: row;
    margin: 10px;
}



.Member_Delete_Srore_Btn {
    margin-left: 50px;
    margin-top: 10px;
    color: darkgrey;
    background-color: transparent;
    border-color: #ccc;
    font-size: 20px;
    border: 0;
}

.Member_Delete_Srore_Btn:hover {
    color: white;
}

.Member_Open_Store_Btn {
    margin-left: 50px;
    margin-top: 10px;
    color: darkgrey;
    background-color: transparent;
    border-color: #ccc;
    font-size: 20px;
    border: 0;
}

    .Member_Open_Store_Btn:hover {
        color: white;
    }


.Member_Store_Form {
    margin-left: 5px;
    margin-right: 5px;
}

.Member_Store_textbox {
    font-size: 20px;
}

.Member_Store_Btn {
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .Member_Store_Btn:hover {
        transform: scale(1.1);
    }

.member_logout_btn {
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .member_logout_btn:hover {
        transform: scale(1.1);
    }

.member_exit_btn {
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .member_exit_btn:hover {
        transform: scale(1.1);
    }


