
.welcome_enter_btn {
    display: block;
    font-size: 20px;
    background-color: #1DB954;
    color: white;
    border-radius: 8px;
}

    .welcome_enter_btn:hover {
        transform: scale(1.1);
    }
